/*Variables*/
:root{
    --headings:hsl(217, 19%, 35%);
    --paragraph:hsl(214, 17%, 51%);
    --bg-and-date:hsl(212, 23%, 69%);
    --card-bg:hsl(210, 46%, 95%);
}

/*Body*/
body{
    font-family: 'Manrope', sans-serif;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-and-date);
}
.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
/*Main container*/
.container{
    width: 660px;
    height: 268px;
    background-color: var(--card-bg);
    display: flex;
    border-radius: 8px;
    position: relative;
    flex-direction: row-reverse;
}

/*figure container*/
.fig-container{
    width:100%;
    height: auto;
    margin: 0;
}
.fig-container img{
    border-radius: 8px 0 0 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*text container*/
.text-container{
    width: auto;
    height: auto;
    padding: 20px 40px 0;
}
.text-title{
    color: var(--headings);
    margin: 10px 0;
    font-size: larger;
}
.text-p{
    margin: 10px 0 0;
    color: var(--paragraph);
    font-size: 13px;
}
/*credits and share container*/
/*credits*/
.credits-share-container{
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0 0;
}
.credits-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-container{
    width: 44px;
    height: 44px;
    margin: 0;
}
.img-container img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.person-container{
    margin-left: 12px;
}
.author-title{
    margin: 0;
    font-size: 13px;
    color: var(--headings);
}
.date-p{
    margin: 0;
    font-size: 13px;
    color: var(--bg-and-date);
}

/*Share button*/
.share-ckb{
    opacity: 0;
    width: 24px;
    height: 24px;
    position: fixed;
}
.share-bg{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--bg-and-date);
    display: inline-grid;
    place-content: center;
    position: relative;
}
.share-bg img{
    position: absolute;
    bottom: 10px;
    left: 8px;
}
.share-ckb{
    cursor: pointer;
}

.share-ckb:checked + label{
    background-color: var(--headings);
}
.share-ckb:checked + label .share-img{
    filter: brightness(0) invert(1);
    transition: 200ms;
}


/*Share options*/

.share-options-container{
    position: absolute;
    right: -72px;
    bottom: 90px;
    opacity: 1;
    background-color: var(--headings);
    display: flex;
    width: 240px;
    gap: 8px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 200ms;
}
.share-p{
    letter-spacing: 1.5px;
    color: var(--bg-and-date);
}
.share-buttons{
    border: 0;
    background-color: transparent;
}
.share-buttons:hover{
    cursor: pointer;
}
.arrow{
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid var(--headings);
    position: absolute;
    bottom: -14px;
    right: 106px;
}

/*Media query*/
@media(max-width: 375px){
    .container{
        flex-direction: column;
        width: 338px;
        height: 550px;
        flex-direction: column-reverse;
    }
    .text-container{
        height: 254px;
    }
    .fig-container img{
        border-radius: 8px 8px 0 0;
    }
    .text-title{
        font-size: 16px;
    }
    .text-p{
        text-align: left;
    }
    .share-options-container{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 250px;
        height: 64px;
        border-radius: 0 0 0 8px;
        transition: 200ms;
    }
    .arrow{
        opacity: 0;
    }
    .share-container{
        border-radius: 0 0 8px 0;
    }
    .square{
        width: 88px;
        height: 64px;
        position: absolute;
        background-color: var(--headings);
        right: 0;
        bottom: 0;
        border-radius: 0 0 8px 0;
        opacity: 0;
        transition: 200ms;
    }
    .share-ckb{
        position: fixed;
        z-index: 2;
    }
    .share-bg{
        position: relative;
    }
    .share-ckb:checked + label{
        background-color: var(--bg-and-date);
    }
}